<h2> Comment: <%=@comment.comment%> </h2>
<p> Name: <%=@comment.name%> </p>
<p> Created At: <%=@comment.created_at%> </p>
<p> Updated At: <%=@comment.updated_at%> </p>
<p> <a href="/comments">Back to Comments Index</a> </p>
<p> <a href="/comments/<%=@comment.cid%>/edit">Edit this Comment</a> </p>
<form action="/comments/<%=@comment.cid%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete the Comment">