<h2> Student: <%=@student.firstname%> <%=@student.lastname%> </h2>
<p> Birthday: <%=@student.birthday.strftime("%e %B %Y") if @student.birthday%> </p>
<p> Address: <%=@student.address%> </p>
<p> Student ID: <%=@student.studentid%> </p>
<p> <a href="/students">Back to Students Index</a> </p>
<p> <a href="/students/<%=@student.id%>/edit">Edit this Student</a> </p>
<form action="/students/<%=@student.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete the Student Record">